@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
:root {
  --blue-accent: #2b4074;
  --font-by-default: "Roboto Condensed", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  --font-dosis: "Dosis", sans-serif;
  --gray-4a: #4a4a4a;
  --gray-79: #797979;
  --gray-92: #929292;
  --gray-9b: #9b9b9b;
  --project-img-hover: #f9f6e5d6;
  --slider-overlay-transparent: #21212180;
  --social-border-green: #7ebf84;
  --white-light-yellow: #f9f6e5;
}

header {
  align-items: center;
  background-color: var(--blue-accent);
  display: flex;
  height: 100px;
  justify-content: space-between;
}

header img {
  height: 66px;
  margin-left: 150px;
  width: 100px;
}

.menu-button {
  background-color: white;
  border-radius: 3px;
  border: 0;
  color: var(--blue-accent);
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  margin-right: 135px;
  width: 40px;
}

.nav-button {
  align-items: center;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 70px;
  justify-content: center;
  width: 70px;
}

.next-button {
  background: var(--white-light-yellow);
  color: var(--gray-92);
}

.previous-button {
  background: var(--blue-accent);
  color: white;
}

#nav-buttons-right {
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: space-between;
  position: absolute;
  right: 0px;
  top: 334px;
}

.blue-button {
  align-items: center;
  background-color: var(--blue-accent);
  border-radius: 3px;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: var(--font-by-default);
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  margin-top: 28px;
  text-transform: uppercase;
  width: 200px;
}

#info-bar {
  background-image: url("../images/bg-img.jpg");
  background-size: cover;
  height: 668px;
}

#info-bar h1 {
  /* -webkit-text-stroke: 1px var(--blue-accent); */
  color: white;
  display: table;
  font-family: var(--font-by-default);
  font-size: 96px;
  font-weight: 400;
  margin: 107px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 400px;
}

#info-bar p {
  color: white;
  font-family: var(--font-by-default);
  font-size: 24px;
  font-weight: 400;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 18px;
  text-align: center;
  width: 886px;
}

.transparent {
  align-items: center;
  background-color: var(--slider-overlay-transparent);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
}

.transparent ul:last-of-type {
  margin-bottom: 73px;
  margin-top: auto;
}

.slider-indicators {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 0;
}

.slider-indicators li {
  background-color: white;
  border-radius: 50%;
  border: 1px solid white;
  height: 8px;
  list-style: none;
  width: 8px;
}

.indicator-active {
  background-color: transparent !important;
}

#callback-section {
  align-items: center;
  background-color: var(--blue-accent);
  display: flex;
  height: 192px;
  justify-content: space-between;
}

.slogan {
  color: white;
  margin-left: 150px;
}

.slogan strong {
  font-family: var(--font-by-default);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin: 0px;
}

.slogan p {
  font-family: var(--font-dosis);
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 4px;
}

.callback-button {
  background-color: white;
  border-radius: 3px;
  border: 0;
  color: var(--blue-accent);
  cursor: pointer;
  font-family: var(--font-by-default);
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  margin-right: 135px;
  text-transform: uppercase;
  width: 200px;
}

#service-section {
  align-items: center;
  display: flex;
  height: 550px;
  justify-content: flex-start;
}

.service-block {
  padding-left: 60px;
  width: 515px;
}

.service-block p {
  color: var(--gray-4a);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin: 65px 0 0 0;
  text-align: left;
  width: 400px;
}

.service-block span {
  color: var(--gray-79);
  display: block;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 35px;
  text-align: left;
  width: 350px;
}

.block-caption {
  color: var(--gray-4a);
  font-family: var(--font-by-default);
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  margin: 0;
  text-align: left;
}

.text-accent {
  color: var(--blue-accent);
}

hr {
  background: var(--blue-accent);
  border: none;
  height: 8px;
  margin: 30px 0 0 0;
  width: 100px;
}

.white-hr {
  background: white;
}

.grey-hr {
  background: var(--gray-4a);
  /* display: none; */
}

.wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  height: 100%;
  width: 100%;
}

.service-option {
  border-bottom: none;
  border-left: 1px solid var(--white-light-yellow);
  border-right: none;
  border-top: none;
  padding: 10px 10px 18px 10px;
}

.service-option a {
  text-decoration: none;
}

.service-option-container {
  align-items: center;
  border: 4px solid white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.service-option-accent-text {
  font-family: var(--font-by-default);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 19px;
  margin-top: 16px;
  text-align: center;
  text-transform: uppercase;
}

.font-accent {
  color: var(--blue-accent);
}

.font-dark-grey {
  color: var(--gray-4a);
}

.white {
  color: white;
}

.service-option img {
  filter: drop-shadow(0px 4000px 0 var(--blue-accent));
  transform: translateY(-4000px);
  width: 64px;
}

.service-option:hover .service-option-container {
  border: 4px solid var(--blue-accent) !important;
}

.service-option:hover .hint,
.service-option:hover .hide {
  display: block;
}

.hint {
  color: var(--gray-9b);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.hide {
  display: none;
}

.service-option:nth-child(-n + 4) {
  border-bottom: 1px solid var(--white-light-yellow);
}

#projects {
  display: flex;
  flex-direction: row;
  gap: 22px;
  justify-content: space-between;
  margin-top: 80px;
}

.project {
  text-align: center;
}

.project h6 {
  color: var(--blue-accent);
  font-family: var(--font-by-default);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 19px;
}

.project-img-wrapper {
  border-radius: 4px;
  height: 239px;
  position: relative;
  width: 268px;
}

.project-img {
  border-radius: 4px;
  height: 239px;
  width: 268px;
}

.project-img-hover {
  align-items: center;
  background-color: var(--project-img-hover);
  border-radius: 4px;
  display: none;
  gap: 10px;
  height: 219px;
  justify-content: center;
  left: 0;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  top: 0;
  width: 248px;
}

.project-img-wrapper:hover .project-img-hover {
  display: flex;
}

.icon-resize {
  font-size: 32px !important;
  text-decoration: none;
}

#project-section {
  align-items: center;
  background: linear-gradient(var(--blue-accent), white);
  display: flex;
  flex-direction: column;
  height: 620px;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 2;
}

#team-section {
  align-items: center;
  display: flex;
  height: 580px;
  justify-content: center;
  margin: -40px auto;
  position: relative;
  width: 1138px;
  z-index: 1;
}

#team-section img {
  border-radius: 4px;
  height: 420px;
  width: 460px;
}

.team-img-container,
.team-description {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 420px;
  justify-content: flex-start;
}

.team-description span {
  color: var(--gray-79);
  display: block;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 35px;
  text-align: left;
  width: 506px;
}

.watch-button {
  align-items: center;
  background-color: var(--blue-accent);
  border-radius: 3px;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: var(--font-by-default);
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  line-height: 18px;
  margin-bottom: 0px;
  margin-top: auto;
  text-align: center;
  text-transform: uppercase;
  width: 230px;
}

#news-section {
  align-items: center;
  background-color: var(--white-light-yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 80px;
  padding-top: 50px;
  width: 100%;
}

.news-container {
  column-count: 4;
  gap: 30px;
  margin-top: 85px;
}

.news-container a {
  color: inherit;
  text-decoration: none;
}

.news-item {
  background: white;
  border-radius: 4px;
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 30px;
  position: relative;
}

.news-item img {
  border-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  width: 262px;
  z-index: 2;
}

.news-item-span {
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  bottom: 0px;
  font-family: var(--font-by-default);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 18.75px;
  padding: 10px;
  padding-left: 20px;
  position: absolute;
  text-align: left;
  width: 232px;
  z-index: 3;
}

.news-item-hover {
  align-items: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: inset 0 0 0 10px var(--blue-accent);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}

.news-item:hover .news-item-span {
  background-color: var(--blue-accent);
  bottom: 30px;
  color: white;
  left: -1px;
  width: 234px;
}

.news-item:hover .news-item-hover {
  display: flex;
}

#quote-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 530px;
  justify-content: center;
}

.quote-resize {
  font-size: 64px !important;
}

blockquote {
  color: var(--gray-4a);
  font-family: var(--font-by-default);
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  margin: 30px 0 0 0;
  text-align: center;
}

blockquote strong {
  color: var(--blue-accent);
}

cite {
  color: var(--gray-4a);
  font-family: var(--font-by-default);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 28px;
  margin: 30px 0 0 0;
  text-align: center;
}

.quote-slider-indicators {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 80px;
  padding: 0;
}

.quote-slider-indicators li {
  background-color: var(--blue-accent);
  border-radius: 50%;
  border: 1px solid var(--blue-accent);
  height: 8px;
  list-style: none;
  width: 8px;
}

.quote-indicator-active {
  background-color: transparent !important;
}

.bottom-logo {
  align-items: center;
  background-color: var(--blue-accent);
  border-radius: 3px;
  height: 60px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -30px;
  width: 230px;
}

footer img {
  width: 80px;
}

footer {
  align-items: center;
  background-color: var(--blue-accent);
  display: flex;
  height: 640px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.bottom-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1140px;
  padding: 130px 0 0 0;
  width: 100%;
}

.bottom-description {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 32px;
  width: 750px;
}

.social-networks {
  display: flex;
  margin-top: 80px;
  width: 100%;
}

.social-networks a {
  text-decoration: none;
}

.column {
  align-items: center;
  border: 1px solid var(--social-border-green);
  border-left: none;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 25%;
}

.rm-rg-br {
  border-right: none;
}

.nav-bottom {
  display: flex;
  margin-bottom: 80px;
  margin-top: 80px;
  width: 100%;
}

.nav-column {
  color: white;
  width: 25%;
}

.nav-column h5 {
  font-family: var(--font-by-default);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 19px;
  margin: 0px 0px 20px 0px;
}

address,
.nav-column a {
  color: white;
  display: block;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

#top-link {
  background-color: var(--project-img-hover);
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100%;
}

.top-link-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  max-width: 1140px;
  position: relative;
  width: 100%;
}

.top-link-container a {
  color: var(--gray-4a);
  font-family: var(--font-by-default);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  position: relative;
  right: 0px;
  text-decoration: none;
}

@media only screen and (max-width: 320px) {

  #nav-buttons-right,
  #info-bar p,
  .blue-button {
    display: none;
  }

  header {
    height: 80px;
  }

  header img {
    margin-left: 20px;
  }

  .menu-button {
    margin-right: 20px;
  }

  #info-bar {
    height: 193px;
  }

  #info-bar h1 {
    font-size: 28px;
    margin: 35px 0 0 0;
    width: 320px;
  }

  .grey-hr {
    display: block !important;
    border: none !important;
    height: 8px !important;
    margin: 30px 0 0 0 !important;
    width: 100px !important;
    background: white !important;
  }

  .transparent ul:last-of-type {
    margin-bottom: 20px;
  }

  .slider-indicators li {
    background-color: var(--blue-accent);
    border: 1px solid var(--blue-accent);
  }

  .indicator-active {
    border: 1px solid var(--social-border-green);
  }

  #callback-section {
    flex-direction: column;
  }

  .slogan {
    width: 260px;
    margin-left: 0px;
  }

  .slogan strong {
    margin: 0px;
  }
  
.slogan p {
  margin-bottom: 0px;
}

  #callback-section {
    height: 300px;
    justify-content: center;
    text-align: center;
  }

  .callback-button {
    margin-right: 0px;
    margin-top: 40px;
  }

  #service-section {
    flex-direction: column;
    height: 100%;
    width: 320px;
    justify-content: center;
  }

  .service-block {
    padding-left: 0px;
    width: 320px;
  }

  .service-block p {
    font-size: 20px;
    line-height: 24px;
    margin: 45px 0 0 0;
    text-align: center;
    width: 320px;
  }

  .service-block span {
    font-size: 15px;
    line-height: 17px;
    margin-top: 40px;
    text-align: center;
    width: 320px;
  }

  .block-caption {
    color: var(--blue-accent);
    font-size: 24px;
    line-height: 28px;
    margin: 25px 0 0 0;
    text-align: center;
  }

  hr {
    width: 50px !important;
    display: none;
  }

  .hr-hide,
  .white-hr, #team-section hr {
    display: block;
    margin: 20px auto 0px auto;
  }

  .hr-hide {
    width: 100px !important;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 284px;
  }

  .service-option {
    border: 1px solid var(--white-light-yellow);
    display: flex;
    height: 310px;
    justify-content: center;
    padding: 18px 0 26px 0;
    width: 282px;
  }

  .service-option-container {
    width: 238px;
  }

  #project-section {
    height: 100%;
    width: 320px;
  }

  #projects {
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    margin-top: 40px;
    width: 320px;
  }
  
  .project {
    justify-content: center;
    text-align: center;
    width: 320px;
  }
  
  .project-img-wrapper {
    height: 250px;
    width: 280px;
  }
  
  .project-img {
    height: 250px;
    margin-left: 20px;
    width: 280px;
  }
  
  .project-img-hover {
    height: 230px;
    margin-left: 30px;
    width: 260px;
  }

  .block-caption {
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
  }

  #service-section .block-caption{
    color: var(--blue-accent);
  }

  #service-section .hr-hide {
    width: 100px;
  }

  .project h6 {
    margin: 20px;
  }

  #team-section {
    flex-direction: column;
    height: 100%;
    margin: 40px 0px 0px 0px;
    width: 320px;
  }
  
  #team-section img {
    border-radius: 0px;
    height: 240px;
    width: 280px;
  }

  #team-section .block-caption {
    color: var(--gray-4a);
    margin-top: 40px;
  }
  
  .team-img-container,
  .team-description {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 420px;
    justify-content: center;
  }
  
  .team-description span {
    color: var(--gray-9b);
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    width: 280px;
  }
  
  .watch-button {
    color: var(--white-light-yellow);
    margin: 50px auto 40px auto;
  }

  #news-section {
    align-items: center;
    background-color: var(--white-light-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;
  }

  #news-section .block-caption{
    color: var(--gray-4a);
    margin-top: 40px;
  }
  
  .news-container {
    column-count: 1;
    margin-top: 40px;
  }

  .news-item-hover {
    border-radius: 4px;
  }

  #quote-section {
    height: 530px;
  }
  
  .quote-resize {
    font-size: 42px !important;
  }
  
  blockquote {
    font-size: 24px;
    line-height: 28px;
    height: 210px;
    width: 275px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  cite {
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0 0 0;
  }
  
  .quote-slider-indicators li {
    background-color: var(--blue-accent);
    border: 1px solid var(--blue-accent);
  }
  
  .quote-indicator-active {
    border: 1px solid var(--social-border-green) !important;
  }

  
  /* s */

  footer {
    height: 100%;
    width: 320px;
  }
  
  .bottom-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 65px;
    width: 275px;
  }
  
  .bottom-description {
    font-size: 20px;
    line-height: 22px;
    width: 100%;
    text-align: center;
  }
  
  .social-networks {
    margin-top: 30px;
  }
  
  .column {
    align-items: center;
    border: 1px solid var(--social-border-green);
    border-left: none;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 100%;
  }
  
  .rm-rg-br {
    border-right: none;
  }
  
  .nav-bottom {
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 40px;
    text-align: center;
    width: 100%;
  }
  
  .nav-column {
    width: 100%;
  }
  
  .nav-column h5 {
    font-size: 18px;
    line-height: 21px;
    margin: 40px auto 20px auto;
  }
  
  address,
  .nav-column a {
    font-size: 16px;
  }

  #top-link {
    height: 140px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
  .top-link-container {
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .top-link-container a {
    position: absolute;
    right: auto;
  }

  #top-link i {
    display: block;
    position: absolute;
    top: 20px;
    justify-content: center;
    text-align: center;
  }
}